<template>
  <div class="col-12">
      <p>{{item.title}} <b>{{item.price}} €</b></p>
      <div class="col-12"> <span>{{item.year}}</span><span>Hab. {{item.room}}</span><span>Baños {{item.bath}}</span></div>
  </div>
</template>

<script>
export default {
  name:'item',
  props: {
    item: Array
  }
}
</script>