<template>
  <div>
    <div class="col-4" style="float: left;">
      <p>Total {{total}} anuncios encontrados</p>
      <ul>
        <li v-for="item in items" v-on:click="showHome(item.id)">
          <Item :item="item"></Item>
        </li>
        <li v-show="items.length === 0"><p>No hay anuncios.</p></li>
      </ul>
    </div>
    <div class="col-8" style="float: left;">
      <show-home :home="this.home" class="col-8" style="float: left;"></show-home>
    </div>
  </div>
</template>

<script>
import Item from './item'
import ShowHome from './showHome'
import axios from "axios";

export default {
  name: 'listItems',
  components: { Item, ShowHome },
  data() {
    return {
      'home' : []
    }
  },
  props: {
    items: {type:Array, default: []},
    total: {type:Number, default:0}
  },
  // beforeUpdate() {
  //     this.showHome(this.items[0].id);
  // },
  watch: {
    items(value) {
      this.showHome(this.items[0].id);
    }
  },
  methods: {
    showHome: function(id) {
      console.log(id);
      if (this.home.id !== id){
        axios.get('/api/homes/'+id).then((response) => {
          this.home = response.data;
        });
      }
    }
  }
}
</script>