<template>
  <div>
    <div class="col-12">
      <p>Referencia: {{home.id}}</p>
      <p>{{home.title}}</p>
      <p>Precio: {{home.price}} €</p>
      <p>habitaciones: {{home.room}}</p>
      <p>baños: {{home.bath}}</p>
      <p>Año construcción: {{home.year}}</p>
      <p>Certificado energético: <span>{{home.rating.lyrics}}</span></p>
      <p>Provincia: {{home.province.name}}</p>
      <p>dirección: {{home.address}}</p>
    </div>
    <div class="col-12"><b>Descripción:</b>{{home.description}}</div>
  </div>
</template>

<script>

export default {
  name: 'showHome',
  props: {
    home: Array
  }
}
</script>