ul {
    margin: 20px 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
}
li p {
    margin-bottom: 0;
}