<template>
  <div  class="container" style="background-color: #fff;">
    <Title title="Busca tu vivienda"></Title>
    <div class="col-12">
      <label for="room">Habitaciones:</label>
      <input id="room" type="number" v-on:change="changeFilters()" v-model="filters.room" min="0"/>
    </div>
    <list-items :items="this.items" :total="this.totalItems" class="col-12"></list-items>
  </div>
</template>

<script>
import Title from './components/title';
import axios from 'axios';
import ListItems from "./components/listItems";

export default {
  name: 'home',
  components: {ListItems, Title},
  data() {
    return {
      'items' : [],
      'totalItems' : 0,
      'filters' : {'room':null},
      'uri': ''
    }
  },
  async created() {
    await this.getItems();
  },
  methods: {
    generateUrlByFilters() {
      this.uri = '';
      for (let prop in this.filters) {
        if ( this.filters.hasOwnProperty(prop) ) {
          if (this.filters[prop] > 0) {
            let character = (this.uri.length > 0)?'&':'?';
            this.uri += character+prop+'='+this.filters[prop];
          }
        }
      }
    },
    getItems() {
      axios.get('/api/homes'+this.uri).then((response) => {
        let items = response.data;

        this.items = items['hydra:member'];
        this.totalItems = items['hydra:totalItems'];
      });
    },

    changeFilters() {
      console.log();
      this.generateUrlByFilters();
      this.getItems();
    }
  }
}
</script>